@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
html {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Itim', cursive;
    background: whitesmoke;
}


.button-container {
    border: 2px solid black;
    padding: 10px;
    border-radius: 7px;
    box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255,0.7);
}


button{
   cursor: pointer; 
   outline: none;
   width: 120px;
   height: 45px;
   font-family: 'Itim', cursive;
   font-size: 25px;
    background: linear-gradient(to top, rgb(72, 162, 165), rgb(45, 85, 160));
    border-radius: 8px;
    border: 2px solid black;
    padding: 10px;
}

button:hover{
    background: linear-gradient(to bottom, rgb(72, 162, 165), rgb(45, 85, 160));
}

button:active{
    transform: translateY(0.5px)
}